@tailwind base;
@tailwind components;
@tailwind utilities;

* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}


@custom-variant dark (&:where(.dark, .dark *));

body {
  height: 100vh;  
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  color: var(--text);
}

.smooth-scroll {
  scroll-behavior: smooth;
}

/* Custom scrollbar for WebKit browsers */
.smooth-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.smooth-scroll::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.smooth-scroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.smooth-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/* For Firefox */
.smooth-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.05);
}