@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --logo-dark: #2c3639;
  --logo-light: #916e52;
}

.dark {
  --logo-dark: #916e52;
  --logo-light: #2c3639;
}

body {
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: var(--background);
  color: var(--text);
}

@layer components {
  .card-scale-hover {
    @apply bg-background-light
           dark:bg-gradient-to-br
           dark:from-background-dark
           dark:to-background-surfaceDark
           p-4
           rounded-lg
           shadow-sm
           border
           border-border-light
           dark:border-border-dark
           transition-transform
           hover:scale-[1.02];
  }
}

@layer components {
  .card {
    @apply bg-background-light
           dark:bg-gradient-to-br
           dark:from-background-dark
           dark:to-background-surfaceDark
           p-4
           rounded-lg
           shadow-sm
           border
           border-border-light
           dark:border-border-dark;
  }
}

.smooth-scroll {
  scroll-behavior: smooth;
}

/* Custom scrollbar for WebKit browsers */
.smooth-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.smooth-scroll::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.smooth-scroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.smooth-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/* For Firefox */
.smooth-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.05);
}
